          <div id="content" class="content">
            <div id="posts" class="posts-collapse">

              <div class="collection-title">
                <h2>
                  {{{name}}}
                  <small>分类</small>
                </h2>
              </div>

              {{#files}}
              <div style="opacity: 1; display: block; transform: translateY(0px);" class="post post-type-normal">
                <div class="post-header">
                  
                  <h1 class="post-title">
                    
                    <a class="post-title-link" href="{{{uri}}}">
                      {{{title}}}
                    </a>
                    
                  </h1>

                  <div class="post-meta">
                    <span class="post-time">
                      {{{date}}}
                    </span>
                    
                    <span class="post-comments-count">
                      &nbsp; | &nbsp;
                      <a href="http://notes.iissnan.com/2015/reading-list-2015-02-03/#comments">
                        <span class="post-comments-count ds-thread-count" data-thread-key="2015/reading-list-2015-02-03/">暂无评论</span>
                      </a>
                    </span>
                    
                  </div>
                </div>
                
              </div>
              {{/files}}
            </div>

            
            <div class="pagination">
              <span class="page-number current">1</span><a class="page-number" href="http://notes.iissnan.com/categories/reading-list/page/2/">2</a><a class="page-number" href="http://notes.iissnan.com/categories/reading-list/page/3/">3</a><a class="extend next" rel="next" href="http://notes.iissnan.com/categories/reading-list/page/2/">»</a>
            </div>
            
          </div>
