        <div class="footer-inner">
          <div class="copyright">
            © &nbsp;  2015 - 
            2015
            <span class="with-love">
              <i class="icon-heart"></i>
            </span>
            <span class="author">{{{author}}}</span>
          </div>

          <div class="powered-by">
            由 <a class="theme-link" href="http://hexo.io">simplesite</a> 简单驱动
          </div>

          <div class="theme-info">
            主题 -
            <a class="theme-link" href="https://github.com/iissnan/hexo-theme-next">
              NexT.Mist
            </a>
          </div>
        </div>
