        <div class="header-inner clearfix">
          <h1 class="site-meta">
            <span class="logo-line-before"><i style="transform: translateX(100%);" class=""></i></span>
            <a style="opacity: 1;" href="/" class="brand">
              <span style="opacity: 1; top: 0px;" class="logo">
                <i class="icon-logo"></i>
              </span>
              <span style="opacity: 1; top: 0px;" class="site-title">{{{site-title}}}</span>
            </a>
            <span class="logo-line-after"><i style="transform: translateX(-100%);" class=""></i></span>
          </h1>

          <ul id="menu" class="menu">
            <li style="opacity: 1; transform: translateY(0px);" class="menu-item menu-item-home">
              <a href="/">
                <i class="menu-item-icon icon-home"></i> <br>
                首页
              </a>
            </li> 
            <li style="opacity: 1; transform: translateY(0px);" class="menu-item menu-item-categories">
              <a href="/categories">
                <i class="menu-item-icon icon-categories"></i> <br>
                分类
              </a>
            </li>
            
            <li style="opacity: 1; transform: translateY(0px);" class="menu-item menu-item-archives">
              <a href="/archives">
                <i class="menu-item-icon icon-archives"></i> <br>
                归档
              </a>
            </li>
            
            <li style="opacity: 1; transform: translateY(0px);" class="menu-item menu-item-tags">
              <a href="/tags">
                <i class="menu-item-icon icon-tags"></i> <br>
                标签
              </a>
            </li>
          </ul>
        </div>
